/* ==========================================================================

// Stylesheet for Build Lesson 6
// Author: KU MarComm - Dave G
// Version: 1.0 - Last Updated: Mar 21, 2018

========================================================================== */

/* MAIN SITE STYLING ===================================================== */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  font-family: helvetica,arial, sans-serif;
}

/* ICONES */

.material-icons {
  position: relative;
  top: 7px;
  margin-right: 5px;
}

.telefone .material-icons {
  color: #000;
}

.fab {
  font-size: 35px;
  text-align: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* FINAL ICONES */

ul li {
  list-style: none;
  line-height: 25px;
  letter-spacing: .1em;
}

#container {
  width: 920px;
  margin: 50px auto;
  background-color: #fff;
  padding: 35px;
}

.clear {
  clear: both;
}

.contato {
  width: 380px;
  background-color: #f4f4f4;
  padding: 10px;
  float: left;
}

.contato h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  letter-spacing: .1em;
}

.contato h2::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background-color: #fec63e;
  margin: 8px 0;
}

.contato ul {
  margin-bottom: 20px;
}

.contato ul:nth-of-type(3) {
  margin-bottom: 0;
}

.telefone {
  color: #fec63e;
  font-weight: bold;
}

.contato h3 {
  margin-bottom: 15px;
}

.endereco {
  font-size: 14px;
}

/* ------------------------------ E-MAIL ---------------*/

.email {
  float: right;
  width: 440px;
  padding: 10px;
/*   border: 1px solid red; */
}

.email h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  letter-spacing: .1em;
}

.email h2::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background-color: #fec63e;
  margin: 8px 0;
}

.email h3 {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: .1em;
  color: grey;
}

.email input, .email textarea {
  margin-bottom: 15px;
  background-color: #f4f4f4;
  padding: 7px 10px;
  border: none;
}

.email button {
  display: inline-block;
  padding: 5px 15px;
}

.btn {
  position: relative;
  top: 12px;
  right: 245px;
  border: none;
  padding: 10px 30px;
  color: #000;
  background-color: gray;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
}

/* ------------------------------ FOOTER ---------------*/

footer {
  width: 100%;
  margin-top: 50px;
  background-color: #000;
  text-align: center;
}

footer span {
  color: #fff;
  margin: 0 auto;
}